<!DOCTYPE html>
<html lang="en">
<head>
	<title>Administration is broken | Baraja admin</title>
	<meta charset="utf-8">
	<meta name="description" content="Baraja administration">
	<meta name="author" content="Baraja.cz">
	<meta name="robots" content="noindex, nofollow">
	<meta content="width=device-width,initial-scale=.5" name="viewport">
	<link type="text/css" rel="stylesheet" href="{\Baraja\Cms\Proxy\Proxy::getUrl('css/bootstrap-4-6-0.min.css')}">
	<script>
		let basePath = {$basePath};
		let baseApiPath = {$basePath . '/api/v1'};
	</script>
</head>

<body style="background:#f3f2ee">
	<div id="app">
		{include content}
	</div>
</body>
</html>

{define content}
	<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-8 py-5">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Internal administration error</h4>
						{include cardContent}
					</div>
				</div>
				<table class="w-100">
					<tr>
						<td class="text-secondary">
							Server time:&nbsp;{date('Y-m-d H:i:s')}<br>
							{date_default_timezone_get()}
						</td>
						<td class="text-right">
							{if $isLogged}
								<span class="text-secondary">Error was logged, please check your Logger.</span>
							{else}
								<span class="text-danger">Error can not be logged, because your Logger is broken.</span>
							{/if}
							{if $correlationId !== null}
								<br>
								<span class="text-secondary">Correlation&nbsp;ID:&nbsp;{$correlationId}</span>
							{/if}
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
{/define}

{define cardContent}
	<table class="w-100">
		<tr>
			<td valign="top" class="text-center px-3">
				<img src="https://cdn.baraja.cz/icon/warning-triangle.png" alt="Error triangle" width="48" height="48">
			</td>
			<td>
				<div class="alert alert-danger">
					<b>A serious problem:</b><br>
					There was a serious problem with the start of the administration, which caused its malfunction.
				</div>
			</td>
		</tr>
	</table>
	<p>
		The problem with starting the administration is often caused by&nbsp;a&nbsp;corrupted configuration
		or&nbsp;a&nbsp;broken connection to&nbsp;the database.
		Before proceeding, try to verify that the database connection is working
		and that all tables have been synchronized.
	</p>
	<div n:if="$isDebug === true && $exception !== null">
		<h2 class="h5">The captured exception</h2>
		{if $exception->getMessage()}
			<p>This error is for your technical administrator:</p>
			<div class="alert alert-secondary">
				{$exception->getMessage()}
			</div>
		{/if}
		<p>File:<br><code>{$exception->getFile()}:{$exception->getLine()}</code></p>
		<h2 class="h5">Call stack</h2>
		<code><pre>{$exception|breaklines}</pre></code>
	</div>
{/define}
