<!DOCTYPE html>
<html lang="en">
<head>
	<title>Administration is broken | Baraja admin</title>
	<meta charset="utf-8">
	<meta name="description" content="Baraja administration">
	<meta name="author" content="Baraja.cz">
	<meta name="robots" content="noindex, nofollow">
	<meta content="width=device-width,initial-scale=.5" name="viewport">
	<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap@4.6.0/dist/css/bootstrap.min.css">
	<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@2.21.2/dist/bootstrap-vue.min.css">
	<script>
	  let basePath = {$basePath};
	  let baseApiPath = {$basePath . '/api/v1'};
	</script>
</head>

<body>
<noscript>
	<div class="container">
		<div class="row my-5">
			<div class="col">
				<h1>Javascript is not allowed</h1>
				<p class="mt-5"><b>We're sorry but administration doesn't work properly without JavaScript enabled.</b></p>
				<p>Please enable it to continue.</p>
			</div>
		</div>
	</div>
</noscript>

<div id="app">
	{include content}
</div>
<script src="https://unpkg.com/vue@2.6.11/dist/vue.min.js"></script>
<script src="https://unpkg.com/bootstrap-vue@2.7.0/dist/bootstrap-vue.min.js"></script>
<script src="https://unpkg.com/bootstrap-vue@2.21.2/dist/bootstrap-vue-icons.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{include scripts}
</body>
</html>

{define content}
<b-container class="mt-5">
	<b-row align-h="center">
		<b-col class="py-5" cols="8">
			<b-card title="Administration is broken">
				<b-alert show variant="danger">
					<b>A serious problem:</b><br>
					There was a serious problem with the start of the administration, which caused its malfunction.
				</b-alert>
				<p>
					The problem with starting the administration is often caused by&nbsp;a&nbsp;corrupted configuration
					or&nbsp;a&nbsp;broken connection to&nbsp;the database.
					Before proceeding, try to verify that the database connection is working
					and that all tables have been synchronized.
				</p>
				<div n:if="$isDebug === true && $exception !== null">
					<h2 class="h5">The captured exception</h2>
					<p>This error is for your technical administrator:</p>
					<b-alert show variant="danger">
						{$exception->getMessage()}
					</b-alert>
					<p>File: <b>{$exception->getFile()}</b> (on line <b>{$exception->getLine()}</b>).</p>
				</div>
			</b-card>
			<p class="text-right text-secondary">
				Error was logged to Tracy, please check the <b>log</b> directory.
			</p>
		</b-col>
	</b-row>
</b-container>
{/define}

{define scripts}
<script>
	new Vue({
		el: '#app',
		data() {
			return {}
		}
	})
</script>
{/define}
