<!DOCTYPE html>
<html lang="en">
<head>
	<title>Konfigurace databáze | Baraja admin</title>
	<meta charset="utf-8">
	<meta name="description" content="Baraja administration">
	<meta name="author" content="Baraja.cz">
	<meta name="robots" content="noindex, nofollow">
	<meta content="width=device-width,initial-scale=.5" name="viewport">
	<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css">
	<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css">
	<script>
	  let basePath = {$basePath};
	  let baseApiPath = {$basePath . '/api/v1'};
	</script>
</head>

<body>
<noscript>
	<div class="container">
		<div class="row my-5">
			<div class="col">
				<h1>Javascript is not allowed</h1>
				<p class="mt-5"><b>We're sorry but administration doesn't work properly without JavaScript enabled.</b></p>
				<p>Please enable it to continue.</p>
			</div>
		</div>
	</div>
</noscript>

<div id="app">
	{include content}
</div>
<script src="https://unpkg.com/vue@2.6.11/dist/vue.min.js"></script>
<script src="https://unpkg.com/bootstrap-vue@2.7.0/dist/bootstrap-vue.min.js"></script>
<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{include scripts}
</body>
</html>

{define content}
<b-container>
	<b-row align-h="center">
		<b-col class="py-5" cols="8">
			<b-card title="Konfigurace databáze">
				<b-alert show variant="danger">
					<b>Závažný problém:</b><br>
					Databáze neobsahuje všechny potřebné tabulky, nebo je poškozena jejich struktura.
				</b-alert>
				<p>
					Při pokusu o&nbsp;čtení databázových tabulek potřebných pro běh administrace došlo k&nbsp;chybě.
					Přehled aktuálně prováděných SQL dotazů může vidět administrátor projektu na
					<a href="https://tracy.nette.org" target="_blank">Tracy baru</a>,
					který se automaticky zobrazuje na lokálním prostředí a&nbsp;povolených IP adresách.
				</p>
				<div n:if="$exception !== null">
					<h2 class="h5">Zachycená výjimka</h2>
					<p>Tato chyba je pro Vašeho technického správce:</p>
					<b-alert show variant="danger">
						{$exception->getMessage()}
					</b-alert>
					<p>Chyba v souboru: <b>{$exception->getFile()}</b> (řádek <b>{$exception->getLine()}</b>).</p>
				</div>
				<h2 class="h5">Návrh řešení</h2>
				<p>
					Použitý balík <a href="https://github.com/baraja-core/doctrine" target="_blank">Baraja Doctrine</a>
					zahrnuje automatický CLI proces
					(nástroj <a href="https://github.com/baraja-core/package-manager" target="_blank">Package Manager</a>)
					pro Terminál, který umí projekt automaticky předkonfigurovat.
				</p>
				<p>1.&nbsp;V&nbsp;rootu projektu spusťte příkaz:</p>
				<b-card class="mb-3">composer dump</b-card>
				<p>2.&nbsp;Následujte instrukce v&nbsp;Terminálu a&nbsp;dokončete celý proces generování tabulek.</p>
				<p>3.&nbsp;Pokud postupu nerozumíte nebo nemáte možnost příkaz spustit, kontaktujte vašeho administrátora,
					nebo placenou <a href="https://baraja.cz/kontakt" target="_blank">technickou podporu</a>.
				</p>
				<p>4.&nbsp;Až budete hotovi, obnovte tuto stránku a&nbsp;konfigurace se znovu ověří.</p>
				<div n:if="$isCloudHost ?? false">
					<h2 class="h5">Konfigurace cloudových služeb</h2>
					<p>Podle konfigurace databáze bylo detekováno připojení do cloud databáze.</p>
					<p>Použité hostname:</p>
					<b-card class="mb-3">{$host}</b-card>
					<p>1.&nbsp;Připojte se ručně do databáze (například přes webové rozhraní vašeho poskytovatele).</p>
					<p>2.&nbsp;Ručně spusťte následující SQL příkaz, který se pokusí nastavit spojení i&nbsp;pro vaši verzi:</p>
					<b-card class="mb-3">ALTER USER `{$user}` IDENTIFIED WITH mysql_native_password BY '***';</b-card>
					<p>3.&nbsp;Místo <b>***</b> zadejte vaše heslo k&nbsp;databázi.</p>
				</div>
			</b-card>
		</b-col>
	</b-row>
</b-container>
{/define}

{define scripts}
<script>
	new Vue({
		el: '#app',
		data() {
			return {}
		}
	})
</script>
{/define}
