<!DOCTYPE html>
<html lang="en">
<head>
	<title>Database configuration | Baraja admin</title>
	<meta charset="utf-8">
	<meta name="description" content="Baraja administration">
	<meta name="author" content="Baraja.cz">
	<meta name="robots" content="noindex, nofollow">
	<meta content="width=device-width,initial-scale=.5" name="viewport">
	<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap@4.6.0/dist/css/bootstrap.min.css">
	<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@2.21.2/dist/bootstrap-vue.min.css">
	<script>
	  let basePath = {$basePath};
	  let baseApiPath = {$basePath . '/api/v1'};
	</script>
</head>

<body style="background:#f3f2ee">
<noscript>
	<div class="container">
		<div class="row my-5">
			<div class="col">
				<h1>Javascript is not allowed</h1>
				<p class="mt-5"><b>We're sorry but administration doesn't work properly without JavaScript enabled.</b></p>
				<p>Please enable it to continue.</p>
			</div>
		</div>
	</div>
</noscript>

<div id="app">
	{include content}
</div>
<script src="https://unpkg.com/vue@2.6.11/dist/vue.min.js"></script>
<script src="https://unpkg.com/bootstrap-vue@2.7.0/dist/bootstrap-vue.min.js"></script>
<script src="https://unpkg.com/bootstrap-vue@2.21.2/dist/bootstrap-vue-icons.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{include scripts}
</body>
</html>

{define content}
<b-container>
	<b-row align-h="center">
		<b-col class="py-5" cols="8">
			<b-card title="Database configuration">
				<b-alert show variant="danger">
					<b>Critical issue:</b><br>
					The database does not contain all the necessary tables or their structure is corrupted.
				</b-alert>
				<p>
					An error occurred while trying to read the database tables required for running the administration.
					The project administrator can see an overview of currently executed SQL queries on the
					<a href="https://tracy.nette.org" target="_blank">Tracy bar</a>,
					which is automatically displayed on the local environment and allowed IP addresses.
				</p>
				<div n:if="$exception !== null">
					<h2 class="h5">Captured exception</h2>
					<p>This error is for your technical administrator:</p>
					<b-alert show variant="danger">
						{$exception->getMessage()}
					</b-alert>
					<p>File: <b>{$exception->getFile()}</b> (on line <b>{$exception->getLine()}</b>).</p>
				</div>
				<h2 class="h5">Possible solution</h2>
				<p>
					Package <a href="https://github.com/baraja-core/doctrine" target="_blank">Baraja Doctrine</a>
					includes automatic CLI process
					(tool <a href="https://github.com/baraja-core/package-manager" target="_blank">Package Manager</a>)
					for Terminal, which can automatically preconfigure the project.
				</p>
				<p>1.&nbsp;In project root please run this command:</p>
				<b-card class="mb-3">composer dump</b-card>
				<p>2.&nbsp;Follow the instructions in the Terminal to complete the entire table generation process.</p>
				<p>3.&nbsp;If you do not understand the procedure or do not have the ability to run the command,
					contact your administrator,
					or paid <a href="https://baraja.cz/kontakt" target="_blank">technical support</a>.
				</p>
				<p>4.&nbsp;When you are done, refresh this page and the configuration will be verified again.</p>
				<div n:if="$isCloudHost ?? false">
					<h2 class="h5">Cloud services configuration</h2>
					<p>According to the database configuration, a connection to the cloud database was detected.</p>
					<p>Used hostname:</p>
					<b-card class="mb-3">{$host}</b-card>
					<p>1.&nbsp;Connect manually to the database (e.g. via your provider's web interface).</p>
					<p>2.&nbsp;Manually run the following SQL statement, which will attempt to set up the connection for your version as well:</p>
					<b-card class="mb-3">ALTER USER `{$user}` IDENTIFIED WITH mysql_native_password BY '***';</b-card>
					<p>3.&nbsp;Enter your database password instead of <b>***</b>.</p>
				</div>
			</b-card>
			<p class="text-right text-secondary">Reported by BRJ CMS.</p>
		</b-col>
	</b-row>
</b-container>
{/define}

{define scripts}
<script>
	new Vue({
		el: '#app',
		data() {
			return {}
		}
	})
</script>
{/define}
