<!DOCTYPE html>
<html lang="en">
<head>
	<title>Installation process | Baraja admin</title>
	<meta charset="utf-8">
	<meta name="description" content="Baraja administration">
	<meta name="author" content="Baraja.cz">
	<meta name="robots" content="noindex, nofollow">
	<meta content="width=device-width,initial-scale=.5" name="viewport">
	<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap@4.6.0/dist/css/bootstrap.min.css">
	<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@2.21.2/dist/bootstrap-vue.min.css">
	<script>
		let basePath = {$basePath};
		let baseApiPath = {$basePath . '/api/v1'};
	</script>
</head>

<body style="background:#f3f2ee">
<noscript>
	<div class="container">
		<div class="row my-5">
			<div class="col">
				<h1>Javascript is not allowed</h1>
				<p class="mt-5"><b>We're sorry but administration doesn't work properly without JavaScript enabled.</b></p>
				<p>Please enable it to continue.</p>
			</div>
		</div>
	</div>
</noscript>

<div id="app">
	<template v-if="installForm === false">
		{include content}
	</template>
	<template v-if="installForm === true">
		{include contentInstalled}
	</template>
</div>
<script src="https://unpkg.com/vue@2.6.11/dist/vue.min.js"></script>
<script src="https://unpkg.com/bootstrap-vue@2.7.0/dist/bootstrap-vue.min.js"></script>
<script src="https://unpkg.com/bootstrap-vue@2.21.2/dist/bootstrap-vue-icons.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{include scripts}
</body>
</html>

{define content}
	<b-container>
		<b-row align-h="center">
			<b-col class="py-5" cols="8">
				<b-card :title="isBusy ? '' : 'Welcome to the installation of the new project'">
					<div v-if="isBusy" class="text-center text-primary my-5">
						<b-spinner class="align-middle mr-3"></b-spinner>
						<strong>Creating...</strong>
					</div>
					<template v-else>
						<p>
							Welcome to the installation process for setting up a&nbsp;new website or e-shop.
							Before we can get started with the site administration, we need to fill in some basic information.
						</p>
						<b-alert n:if="$isLocalhost" show variant="warning">
							<b>Warning:</b>
							You are trying to install the project on a&nbsp;local server on your computer.
							After uploading the files to the web server, you will need to specify the URL configuration,
							e&#8209;mail server and other settings depending on your configuration.
						</b-alert>
						{include form}
					</template>
				</b-card>
				<div v-if="isBusy === false" class="text-right">
					<b-link class="btn-sm" v-b-modal.security-info>Security information</b-link>
					<b-link class="btn-sm" v-b-modal.not-admin>I&nbsp;am not a&nbsp;webmaster</b-link>
				</div>
			</b-col>
		</b-row>
	</b-container>

	<b-modal id="not-admin" size="lg" title="I am not a webmaster" hide-footer>
		<p>
			This page is <b>only for the owners and administrators of this web project</b>
			and will only be displayed when the site is waiting for configuration to complete.
		</p>
		<p>
			If you can, contact the site administrator to complete the entire registration process, which will cause the site to launch.
		</p>
		<p n:if="$isBarajaCz">
			The administrator of this website is the company Baraja.cz.
		</p>
		<p n:if="$isLocalhost">
			The project is installed locally, therefore the administrator is the owner of this device.
		</p>
	</b-modal>
	<b-modal id="security-info" size="lg" title="Security information and data protection" hide-footer>
		<p>
			Welcome to help about security and privacy.
		</p>
		<p>
			Safety is our <b>first priority</b>, so we're happy to share the way, how we handle data.
		</p>
		<p>
			All data entered is <b>maximally confidential</b> and is used for the proper running of your website.
			The data will be physically stored on the same web server as this site unless you specifically request otherwise.
			We use specialized database tables to store the basic configuration, which transparently
			display all the data that the system knows and uses in a transparent way.
		</p>
		<p>
			Passwords and other extremely sensitive data before storage
			We <a href="https://php.baraja.cz/hashovani" target="_blank">hash</a> with the BCRYPT algorithm.
		</p>
		<p>
			If you link your website to one of Baraja.cz's services while using the application,
			we will treat the data according to
			<a href="https://baraja.cz/vseobecne-obchodni-podminky" target="_blank">General Terms and Conditions</a>.
			For information on security and how to use the data, please visit
			<a href="https://baraja.cz/gdpr-ochrana-a-zpracovani-osobnich-udaju" target="_blank"
			>Protection and processing of personal data in compliance with&nbsp;GDPR</a>.
		</p>
		<p>
			Jan Barášek is responsible for the security of data processing on the baraja.cz servers.
			This security applies only if you use the official Baraja.cz servers for hosting the website,
			or our certified partners. In&nbsp;other cases, there may be other influences on the security,
			that we cannot control.
		</p>
		<p>
			If you need more information, please do not hesitate
			<a href="https://baraja.cz/kontakt" target="_blank">contact customer support</a>.
		</p>
	</b-modal>
{/define}

{define contentInstalled}
	<b-container>
		<b-row align-h="center">
			<b-col class="py-5" cols="8">
				<b-card title="Welcome!">
					<p>The installation of the project was successfully completed.</p>
					<p>
						Detailed instructions on how to use the administration and&nbsp;where to log in next time,
						have been sent to the e-mail address provided.
					</p>
					<b-button variant="primary" href="{$basePath}/admin">
						Go to administration
					</b-button>
				</b-card>
			</b-col>
		</b-row>
	</b-container>
{/define}

{define form}
	<b-alert v-if="errorSamePassword" show variant="danger" class="mb-3">
		Passwords must match!
	</b-alert>

	<b-alert v-if="serverErrors.length > 0" show variant="danger" class="mb-3">
		<p>Please resolve these errors first:</p>
		<ul>
			<li v-for="serverError in serverErrors">{{ serverError }}</li>
		</ul>
	</b-alert>

	<b-form @submit="onSubmit" @input="checkValidForm()">
		<b-form-group>
			<b-icon
					icon="question-circle-fill"
					variant="info"
					v-b-tooltip.hover
					title="The site name is used to help you navigate your projects and will appear as the default name in search engines, page headers and email subject lines. You can change the name later in the system settings. The name does not have to be the same as the domain where the site will be available.">
			</b-icon>
			<label for="name">Project name:</label>
			<b-form-input id="name" v-model="form.name" type="text" placeholder="For example, the name of a business, blog, e-shop, company, ..." required></b-form-input>
		</b-form-group>

		<b-row>
			<b-col>
				<b-form-group label="Admin firstname:" label-for="firstName">
					<b-form-input id="firstName" v-model="form.firstName" type="text" required></b-form-input>
				</b-form-group>
			</b-col>
			<b-col>
				<b-form-group label="Admin lastname:" label-for="lastName">
					<b-form-input id="lastName" v-model="form.lastName" type="text" required></b-form-input>
				</b-form-group>
			</b-col>
		</b-row>

		<b-form-group>
			<b-icon
					icon="question-circle-fill"
					variant="info"
					v-b-tooltip.hover
					title="This email must exist and be read by the person responsible for this project. We will regularly send all important notifications, technical status information and bug reports to this email. You can also send authorized requests for paid technical support from this email.">
			</b-icon>
			<label for="mail">Contact e-mail:</label>
			<b-form-input id="mail" v-model="form.mail" type="email" required></b-form-input>
		</b-form-group>

		<b-form-group>
			<b-icon
					icon="question-circle-fill"
					variant="info"
					v-b-tooltip.hover
					title="Once the installation is complete, a user account will be created for you with this login name. This account will be marked as a system account and will have the highest possible permissions set.">
			</b-icon>
			<label for="username">Admin username:</label>
			<b-form-input id="username" v-model="form.username" type="text" required></b-form-input>
		</b-form-group>

		<b-form-group>
			<b-icon
					icon="question-circle-fill"
					variant="info"
					v-b-tooltip.hover
					title="The password will be stored only in hashed form (using the secure Bcrypt algorithm) in the local database of this project. We never transmit the password to remote servers and only you know it. We never send the password via email and there is no human readable version of the password anywhere.">
			</b-icon>
			<label for="password">Password:</label>
			<b-form-input id="password" v-model="form.password" type="password" required @input="validatePassword()"></b-form-input>
			<b-progress :value="passwordStrength" max="5" class="mb-3" show-value v-b-tooltip
						title="Expresses the security of the password. The master administrator must have at least level 4 security. Points are earned for the use of upper and lower case letters, numbers and special characters."></b-progress>
		</b-form-group>

		<b-form-group label="Password again:" label-for="passwordVerify">
			<b-form-input id="passwordVerify" v-model="form.passwordVerify" type="password" required @input="onInputPassword()"></b-form-input>
		</b-form-group>

		<b-form-group label-for="vop">
			<b-form-checkbox id="vop" v-model="form.vop" :value="true" :unchecked-value="false">
				<span v-b-tooltip title="We process all data entered into this form and later obtained in the administration in accordance with GDPR. If you need more information, please click on the 'Security Information' link at the bottom of this page.">
					I agree to the <a href="https://baraja.cz/vseobecne-obchodni-podminky" target="_blank">General Terms of Service</a> and <a href="https://baraja.cz/gdpr-ochrana-a-zpracovani-osobnich-udaju" target="_blank">Privacy Policy</a>.
				</span>
			</b-form-checkbox>
		</b-form-group>

		<b-button type="submit" variant="primary">Continue</b-button>
	</b-form>
{/define}

{define scripts}
	<script>
		new Vue({
			el: '#app',
			data() {
				return {
					form: {
			 			name: '',
						username: 'admin',
						firstName: '',
						lastName: '',
						mail: '',
						password: '',
						passwordVerify: '',
						vop: false
					},
					passwordStrength: 0,
					isBusy: false,
					errorSamePassword: false,
					serverErrors: {},
					isFormOk: false,
					installForm: false
				}
			},
			methods: {
				onSubmit(evt) {
					evt.preventDefault();
					this.checkValidForm();

					if (this.isFormOk === false) {
						if (this.passwordStrength < 4) {
							alert('For maximum security, the administrator password must score at least 4 points.');
						} else if (this.form.vop === false) {
							alert('You must agree to the terms of service.');
						} else {
							alert('Correct the form fields. All fields are required, passwords must match and you must agree to the terms of service.');
						}
					} else {
						this.isBusy = true;

						fetch(baseApiPath + '/cms-install/basic', {
							method: 'POST',
							body: JSON.stringify(this.form)
						})
							.then(json => json.json())
							.then(json => {
								if ('state' in json && json.state === 'error') {
									this.serverErrors = json.errors;
								} else {
									this.installForm = true;
								}
							}).finally(json => this.isBusy = false);
					}
				},
				validatePassword() {
					if (this.form.password === '') {
						this.passwordStrength = 0;
						return;
					}

					let matchedCase = ['[$@$!%*#?&]', '[A-Z]', '[0-9]', '[a-z]'];
					let strength = 0;
					for (let i = 0; i < matchedCase.length; i++) {
						if (new RegExp(matchedCase[i]).test(this.form.password)) {
							strength++;
						}
					}

					this.passwordStrength = strength + 1;
					this.onInputPassword();
				},
				onInputPassword() {
					this.errorSamePassword = this.form.password !== ''
						&& this.form.passwordVerify !== ''
						&& this.form.password !== this.form.passwordVerify;
				},
				checkValidForm() {
					this.isFormOk = this.passwordStrength >= 4
						&& this.form.password !== ''
						&& this.errorSamePassword === false
						&& this.form.vop === true;
				}
			}
		})
	</script>
{/define}
