<html lang="en">
<head>
	<meta charset="utf-8">
	<meta content="width=device-width,initial-scale=1" name="viewport">
	<meta name="description" content="Baraja administration">
	<meta name="author" content="Baraja.cz">
	<meta name="robots" content="noindex, nofollow">
	<title>Obnova zapomenutého hesla | Baraja admin</title>
	<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css">
	<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css">
	<script>
		let basePath = {$basePath};
		let baseApiPath = {$basePath . '/api/v1'};
	</script>
</head>

<body>
<noscript>
	<strong>
		We're sorry but administration doesn't work properly without JavaScript enabled.
		Please enable it to continue.
	</strong>
</noscript>

<div id="app">
	{include content}
</div>

<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
{include scripts}
</body>
</html>

{define content}
	<b-container>
		<b-row align-h="center">
			<b-col class="pt-5" cols="5">
				<b-card title="Obnova hesla">
					{include form}
				</b-card>
			</b-col>
		</b-row>
	</b-container>
{/define}

{define form}
	<b-alert v-if="changeSuccess" show variant="success" class="mb-3">
		Heslo bylo úspěšně změněno!
		<div class="mt-3 text-center">
			<a href="{$loginUrl}" class="btn btn-success btn-sm">
				Přihlásit se
			</a>
		</div>
	</b-alert>

	<b-alert v-if="errorSamePassword" show variant="danger" class="mb-3">
		Hesla se musí shodovat!
	</b-alert>

	<b-overlay :show="isBusy" rounded="lg">
		<b-form @submit="onSubmit">
			<b-form-group label="Uživatel:" label-for="username">
				<b-form-input id="username" v-model="form.username" type="text" disabled="disabled" required></b-form-input>
			</b-form-group>

			<b-form-group label="Bezpečné heslo:" label-for="password">
				<b-form-input id="password" v-model="form.password" type="password" required></b-form-input>
			</b-form-group>

			<b-form-group label="Heslo znovu:" label-for="passwordVerify">
				<b-form-input id="passwordVerify" v-model="form.passwordVerify" type="password" required></b-form-input>
			</b-form-group>

			<b-button type="submit" variant="primary">Změnit heslo</b-button>
		</b-form>
	</b-overlay>
{/define}

{define scripts}
	<script>
		new Vue({
			el: '#app',
			data() {
				return {
					form: {
						username: {$username},
						password: '',
						passwordVerify: ''
					},
					token: {$token},
					locale: {$locale},
					isBusy: false,
					errorSamePassword: false,
					changeSuccess: false
				}
			},
			methods: {
				onSubmit(evt) {
					evt.preventDefault();
					this.errorSamePassword = false;
					this.changeSuccess = false;
					if (this.form.password !== this.form.passwordVerify) {
						this.errorSamePassword = true;
					} else {
						this.isBusy = true;
						fetch({$basePath . '/api/v1'} + '/cms/forgot-password-set-new', {
							method: 'POST',
							body: JSON.stringify({
								token: this.token,
								locale: this.locale,
								password: this.form.password
							})
						})
							.then(data => data.json())
							.then(data => {
								this.isBusy = false;
							  this.changeSuccess = true;
							});
					}
				}
			}
		})
	</script>
{/define}
