extensions:
	cms: Baraja\Cms\CmsExtension
	permission: Baraja\Cms\User\PermissionExtension

orm.annotations:
	paths:
		Baraja\Cms\User\Entity: %rootDir%/vendor/baraja-core/cms/src/User/Entity
		Baraja\DoctrineConfiguration: %rootDir%/vendor/baraja-core/cms/Settings/Entity
