parameters:
	cmsMenu:
		-
			label: Dashboard
			link: 'Homepage:default'

extensions:
	cms: Baraja\Cms\CmsExtension

services:
	cmsApiManager: Baraja\Cms\Api\CmsApiManager
	userManager: Baraja\Cms\SimpleUserManager
	userStorage: Baraja\Cms\UserFileStorage(%appDir%/../data/user)
	- Baraja\Cms\Api\Endpoint\CmsEndpoint
	- Baraja\Cms\InstallProcess
