.ui-header {
	background: black;
	color: #eee;
}

.ui-header-search {
	width: 100%;
	border: 0;
	background: #222;
	color: #eee;
	padding: .1em .5em;
	outline: none;
}

.ui-header-search-autocomplete {
	position: absolute;
	z-index: 9999;
	color: black;
}

.ui-header-search-autocomplete .card-body {
	padding: .75em;
}

.ui-burger {
	height: .15em;
	background-color: #e6e6e6;
	margin: .35em 0;
}

.ui-left-menu {
	background: #f7f7f7;
	border-right: 1px solid #e6e6e6;
	min-height: 8em;
}

.ui-footer {
	background: #f5f5f7;
	color: #515154;
	border-top: 1px solid #e6e6e6;
}

a[href^="#error:"] {
	background: red;
	color: white;
}

form .required label {
	font-weight: bold;
}
